[submodule "Vendors/ImGui"]
	path = Vendors/ImGui
	url = https://github.com/saeschdivara/imgui.git
	branch = docking
[submodule "Vendors/Spdlog"]
	path = Vendors/Spdlog
	url = https://github.com/gabime/spdlog.git
