[submodule "Vendors/ImGui"]
	path = Vendors/ImGui
	url = https://github.com/saeschdivara/imgui.git
	branch = docking
[submodule "Vendors/Spdlog"]
	path = Vendors/Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendors/Backward"]
	path = Vendors/Backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "Vendors/FileDialog"]
	path = Vendors/FileDialog
	url = https://github.com/btzy/nativefiledialog-extended.git
